:3000 {
	encode gzip zstd

	handle_path /auth/* {
		reverse_proxy http://auth-server:3000
	}

	handle_path /aliases/* {
		reverse_proxy http://alias-manager:3000
	}

	handle_path /payments/* {
		reverse_proxy http://payment-manager:3000
	}

	error 404
}
